version: '3'
services: 
  db:
    image: postgres
    restart: unless-stopped
    ports:
      - '127.0.0.1:$DB_PORT:5432'
    env_file: 
      - .env
    volumes:
      - db_data:/var/lib/postgresql/data/

volumes:
  db_data: