name: Docker Compose Up
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build the stack
        run: echo "DB_PORT=5432\nPOSTGRES_USER=admin\nPOSTGRES_PASSWORD=admin" > .env && docker-compose --env-file .env up -d